@page
@model Week2WebAppV2.OnlineShopModel
@{
    ViewData["Title"] = "Online Shop";
}

<h1 class="text-center p-6">Shop</h1>

    <div class="container">
        <div class="col">
            <div class="row">
                <div class="card-columns text-center justify-content-center">
                    <div class="card">
                        <img class="card-img-top p-4" src="~/images/candleimages/blackcandle.jpg" alt="Black Candle">
                        <div class="card-body">
                            <h5 class="card-title">Charcoal Craze</h5>
                            <p class="card-text">£19.99</p>
                            <p class="card-text">Lucious candle scent with the charcoal goodness for your skin</p>
                            <button type="button" class="btn border-dark">Add to Basket</button>

                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top p-4" src="~/images/candleimages/bluecandle.jpg" alt="Blue Candle">
                        <div class="card-body">
                            <h5 class="card-title">Blueberry Bliss</h5>
                            <p class="card-text">£19.99</p>
                            <p class="card-text">Wax infused with the lucious scent of blueberries</p>
                            <button type="button" class="btn border-dark">Add to Basket</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top p-4" src="~/images/candleimages/greencandle.jpg" alt="Green Candle">
                        <div class="card-body">
                            <h5 class="card-title">Gracious Grape</h5>
                            <p class="card-text">£19.99</p>
                            <p class="card-text">Gorgeous scent of fresh grapes from the vineyard</p>
                            <button type="button" class="btn border-dark">Add to Basket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
